 
  form {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  /* input {
    margin-bottom: 16px;
    padding: 8px;
  } */
  
  /* button {
    background-color: #2e3192;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f58220;
  } */
  
  h2{
    color: white;
position: center;  
margin-top: 80px;
}